// #nav {
//     display: flexbox;
//     height: 40%;
//     text-align: center;
//     height: inherit;
//     line-height: inherit;
//     position: absolute;
//     left: 1em;
//     top: 1em;
//     vertical-align: middle;
// }
//     #nav a {
//         text-decoration: none;
//         background-color:@shade-three;
//         color:@white;
//         display:inherit;
//         flex-direction: column;
//     }
//     #nav a:hover {
//         color:@shade-three;
        
//     }

            // .container-nav {
            //     display: inline-block;
            //     cursor: pointer;
            //   }
              
            //   .bar1, .bar2, .bar3 {
            //     width: 35px;
            //     height: 5px;
            //     background-color: #333;
            //     margin: 6px 0;
            //     transition: 0.4s;
            //   }
              
            //   /* Rotate first bar */
            //   .change .bar1 {
            //     -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            //     transform: rotate(-45deg) translate(-9px, 6px) ;
            //   }
              
            //   /* Fade out the second bar */
            //   .change .bar2 {
            //     opacity: 0;
            //   }
              
            //   /* Rotate last bar */
            //   .change .bar3 {
            //     -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            //     transform: rotate(45deg) translate(-8px, -8px) ;
            //   }
            //   .dropdown-content{
            //     display:none;
            //   }

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    // padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 20px;
    background-color: @shade-one;
  }
  
  #blog {
    top: 80px;
    background-color: @shade-two; /* Blue */
  }
  
  #projects {
    top: 140px;
    background-color: @shade-three; /* Red */
  }
  
  #contact {
    top: 200px;
    background-color: @shade-four /* Light Black */
  }
  