
#header {
        cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		top: 0;
		width: 100%;
        z-index: 10000;
        color:white;
        
    }
    

		#header h1 {
			color: inherit;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

            #header.alt {
                background: none;
                position: absolute;
            }

            #header .container {
                position: relative;
            }
    
                #header .container h1 {
                    left: 0;
                }
    
                #header .container nav {
                    right: 0;
                }
    